<div>
  <div>
    <h1>
      List of all watchlists
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new watchlist
    </h2>

    <form action="/insert_watchlist" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="pet_id_box">
          Pet
        </label>

        <input type="text" id="pet_id_box" name="query_pet_id">
      </div>

      <button>
        Create watchlist
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Pet
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_watchlists.each do |a_watchlist| %>
      <tr>
        <td>
          <%= a_watchlist.id %>
        </td>

        <td>
          <%= a_watchlist.user_id %>
        </td>

        <td>
          <%= a_watchlist.pet_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_watchlist.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_watchlist.updated_at) %> ago
        </td>

        <td>
          <a href="/watchlists/<%= a_watchlist.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
