<div>
  <div>
    <h3>
      My Applications
    </h3>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4">
  <% @list_of_applications.each do |application| %>
  <div class="col mb-3">
    <div class="card h-100">
      <%if application.status = "Pending"%>
        <span class="badge badge-warning">Pending</span>
      <%elsif application.status = "Approved"%>
        <span class="badge badge-success">Approved</span>
      <%end%>

      <img src="<%=application.pet.picture%>" class="card-img-top" alt="<%=application.pet.picture%>">
      <div class="card-body">
        <h5 class="card-title"><%=application.pet.name%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=application.pet.species%>, <%="#{time_ago_in_words(application.pet.estimated_birthday)} old"%></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%=application.pet.gender%>, <%=application.pet.weight%></h6>
        <span class="badge badge-light"><%=application.pet.status%></span>
        <div>
          <a href="/pets/<%=application.pet.id%>" class="btn btn-outline-primary btn-sm">Details</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<hr>
