<div>
  <div>
    <h1>
      List of all pets
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new pet
    </h2>

    <form action="/insert_pet" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="estimated_birthday_box">
          Estimated birthday
        </label>

        <input type="date" id="estimated_birthday_box" name="query_estimated_birthday">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="adopter_id_box">
          Adopter
        </label>

        <input type="text" id="adopter_id_box" name="query_adopter_id">
      </div>

      <div>
        <label for="gender_box">
          Gender
        </label>

        <input type="text" id="gender_box" name="query_gender">
      </div>

      <div>
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <label for="children_competability_ranking_box">
          Children competability ranking
        </label>

        <input type="text" id="children_competability_ranking_box" name="query_children_competability_ranking">
      </div>

      <div>
        <label for="dog_competability_ranking_box">
          Dog competability ranking
        </label>

        <input type="text" id="dog_competability_ranking_box" name="query_dog_competability_ranking">
      </div>

      <div>
        <label for="cat_competability_ranking_box">
          Cat competability ranking
        </label>

        <input type="text" id="cat_competability_ranking_box" name="query_cat_competability_ranking">
      </div>

      <div>
        <label for="home_alone_competability_ranking_box">
          Home alone competability ranking
        </label>

        <input type="text" id="home_alone_competability_ranking_box" name="query_home_alone_competability_ranking">
      </div>

      <div>
        <label for="activity_competability_ranking_box">
          Activity competability ranking
        </label>

        <input type="text" id="activity_competability_ranking_box" name="query_activity_competability_ranking">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

      <div>
        <label for="foster_id_box">
          Foster
        </label>

        <input type="text" id="foster_id_box" name="query_foster_id">
      </div>

      <div>
        <label for="species_box">
          Species
        </label>

        <input type="text" id="species_box" name="query_species">
      </div>

      <button>
        Create pet
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Estimated birthday
        </th>

        <th>
          Status
        </th>

        <th>
          Adopter
        </th>

        <th>
          Gender
        </th>

        <th>
          Weight
        </th>

        <th>
          Children competability ranking
        </th>

        <th>
          Dog competability ranking
        </th>

        <th>
          Cat competability ranking
        </th>

        <th>
          Home alone competability ranking
        </th>

        <th>
          Activity competability ranking
        </th>

        <th>
          Notes
        </th>

        <th>
          Foster
        </th>

        <th>
          Species
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_pets.each do |a_pet| %>
      <tr>
        <td>
          <%= a_pet.id %>
        </td>

        <td>
          <%= a_pet.name %>
        </td>

        <td>
          <%= a_pet.estimated_birthday %>
        </td>

        <td>
          <%= a_pet.status %>
        </td>

        <td>
          <%= a_pet.adopter_id %>
        </td>

        <td>
          <%= a_pet.gender %>
        </td>

        <td>
          <%= a_pet.weight %>
        </td>

        <td>
          <%= a_pet.children_competability_ranking %>
        </td>

        <td>
          <%= a_pet.dog_competability_ranking %>
        </td>

        <td>
          <%= a_pet.cat_competability_ranking %>
        </td>

        <td>
          <%= a_pet.home_alone_competability_ranking %>
        </td>

        <td>
          <%= a_pet.activity_competability_ranking %>
        </td>

        <td>
          <%= a_pet.notes %>
        </td>

        <td>
          <%= a_pet.foster_id %>
        </td>

        <td>
          <%= a_pet.species %>
        </td>

        <td>
          <%= time_ago_in_words(a_pet.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_pet.updated_at) %> ago
        </td>

        <td>
          <a href="/pets/<%= a_pet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
