<div>
  <div>
    <h1>
      Update your preferences
    </h1>
  </div>
</div>

<hr>

<div>
  <div>

    <form action="/modify_interest/<%=@current_user.interest.id%>" method="post">

      <div>
        <label>Interested in adopting...</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="query_interested_in_adopting_dogs" name="query_interested_in_adopting_dogs" value="1"
            <%=if @current_user.interest.interested_in_adopting_dogs
              "checked" 
            end%>>
          <label class="form-check-label" for="query_interested_in_adopting_dogs">Dogs</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="query_interested_in_adopting_cats" name="query_interested_in_adopting_cats" value="1"
          <%=if @current_user.interest.interested_in_adopting_cats
              "checked" 
            end%>>
          <label class="form-check-label" for="query_interested_in_adopting_cats">Cats</label>
        </div>
      </div>
      <div></div>
      <div>
        <label>Interested in fostering...</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="query_interested_in_fostering_dogs" name="query_interested_in_fostering_dogs" value="1"
          <%=if @current_user.interest.interested_in_fostering_dogs
              "checked" 
            end%>>
          <label class="form-check-label" for="query_interested_in_fostering_dogs">Dogs</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="query_interested_in_fostering_cats" name="query_interested_in_fostering_cats" value="1"
          <%=if @current_user.interest.interested_in_fostering_cats
              "checked" 
            end%>>
          <label class="form-check-label" for="query_interested_in_fostering_cats">Cats</label>
        </div>
      </div>

      <h6>Select the traits of your ideal pet!</h6>

        <div class="form-group">
          <label for="children_competability_preference_box">Children Competability</label>
          <input type="range" class="custom-range" min="1" max="5" id="children_competability_preference_box" name="children_competability_preference_box" value="<%=@current_user.interest.children_competability_preference%>">
          <div class="container">
            <div class="row">
              <div class="col-sm text-left">
                1 (adults only!)
              </div>
              <div class="col-sm text-center">
                2 (children 12 and up)
              </div>
              <div class="col-sm text-center">
                3 (children 8 and up)
              </div>
              <div class="col-sm text-center">
                4 (children 5 and up)
              </div>
              <div class="col-sm text-right">
                5 (good with all ages)
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="dog_competability_preference_box">Dog Competability</label>
          <input type="range" class="custom-range" min="1" max="5" id="dog_competability_preference_box" name="dog_competability_preference_box" value="<%=@current_user.interest.dog_competability_preference%>">
          <div class="container">
            <div class="row">
              <div class="col-sm text-left">
                1 (no other dogs)
              </div>
              <div class="col-sm text-center">
                2
              </div>
              <div class="col-sm text-center">
                3 (still getting used to dogs)
              </div>
              <div class="col-sm text-center">
                4
              </div>
              <div class="col-sm text-right">
                5 (good with dogs)
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="cat_competability_preference_box">Cat Competability</label>
          <input type="range" class="custom-range" min="1" max="5" id="cat_competability_preference_box" name="cat_competability_preference_box" value="<%=@current_user.interest.cat_competability_preference%>">
          <div class="container">
            <div class="row">
              <div class="col-sm text-left">
                1 (no cats!)
              </div>
              <div class="col-sm text-center">
                2 (picky with cats)
              </div>
              <div class="col-sm text-center">
                3 (selective with cats)
              </div>
              <div class="col-sm text-center">
                4 (few restrictions)
              </div>
              <div class="col-sm text-right">
                5 (no restrictions)
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="activity_competability_preference_box">Activity Competability</label>
          <input type="range" class="custom-range" min="1" max="5" id="activity_competability_preference_box" name="activity_competability_preference_box" value="<%=@current_user.interest.activity_competability_preference%>">
          <div class="container">
            <div class="row">
              <div class="col-sm text-left">
                1 (couch potato)
              </div>
              <div class="col-sm text-center">
                2
              </div>
              <div class="col-sm text-center">
                3
              </div>
              <div class="col-sm text-center">
                4
              </div>
              <div class="col-sm text-right">
                5 (very active)
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="home_alone_competability_preference_box">Home Alone Competability</label>
          <input type="range" class="custom-range" min="1" max="5" id="home_alone_competability_preference_box" name="home_alone_competability_preference_box" value="<%=@current_user.interest.home_alone_competability_preference%>">
          <div class="container">
            <div class="row">
              <div class="col-sm text-left">
                1 (separation anxiety)
              </div>
              <div class="col-sm text-center">
                2
              </div>
              <div class="col-sm text-center">
                3 (left alone for 1-2 hours)
              </div>
              <div class="col-sm text-center">
                4
              </div>
              <div class="col-sm text-right">
                5 (fine alone for hours)
              </div>
            </div>
          </div>
        </div>
        
      <button class="btn btn-outline-success btn-block">
        Update Preferences
      </button>
    </form>
  </div>
</div>

<hr>
