<div>
  <div>
    <h1>
      Interest #<%= @the_interest.id %> details
    </h1>

    <div>
      <div>
        <a href="/interests">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_interest/<%= @the_interest.id %>">
          Delete interest
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_interest.user_id %>
      </dd>

      <dt>
        Interested in fostering dogs
      </dt>
      <dd>
        <%= @the_interest.interested_in_fostering_dogs %>
      </dd>

      <dt>
        Interested in fostering cats
      </dt>
      <dd>
        <%= @the_interest.interested_in_fostering_cats %>
      </dd>

      <dt>
        Interested in adopting dogs
      </dt>
      <dd>
        <%= @the_interest.interested_in_adopting_dogs %>
      </dd>

      <dt>
        Interested in adopting cats
      </dt>
      <dd>
        <%= @the_interest.interested_in_adopting_cats %>
      </dd>

      <dt>
        Children competability preference
      </dt>
      <dd>
        <%= @the_interest.children_competability_preference %>
      </dd>

      <dt>
        Dog competability preference
      </dt>
      <dd>
        <%= @the_interest.dog_competability_preference %>
      </dd>

      <dt>
        Cat competability preference
      </dt>
      <dd>
        <%= @the_interest.cat_competability_preference %>
      </dd>

      <dt>
        Activity competability preference
      </dt>
      <dd>
        <%= @the_interest.activity_competability_preference %>
      </dd>

      <dt>
        Home alone competability preference
      </dt>
      <dd>
        <%= @the_interest.home_alone_competability_preference %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interest.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interest.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit interest
    </h2>

    <form action="/modify_interest/<%= @the_interest.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_interest.user_id %>">
      </div>

      <div>
        <input type="checkbox" id="interested_in_fostering_dogs_box" name="query_interested_in_fostering_dogs" value="1" <%= "checked" if @the_interest.interested_in_fostering_dogs %>>

        <label for="interested_in_fostering_dogs_box">
            Interested in fostering dogs
        </label>
      </div>

      <div>
        <input type="checkbox" id="interested_in_fostering_cats_box" name="query_interested_in_fostering_cats" value="1" <%= "checked" if @the_interest.interested_in_fostering_cats %>>

        <label for="interested_in_fostering_cats_box">
            Interested in fostering cats
        </label>
      </div>

      <div>
        <input type="checkbox" id="interested_in_adopting_dogs_box" name="query_interested_in_adopting_dogs" value="1" <%= "checked" if @the_interest.interested_in_adopting_dogs %>>

        <label for="interested_in_adopting_dogs_box">
            Interested in adopting dogs
        </label>
      </div>

      <div>
        <input type="checkbox" id="interested_in_adopting_cats_box" name="query_interested_in_adopting_cats" value="1" <%= "checked" if @the_interest.interested_in_adopting_cats %>>

        <label for="interested_in_adopting_cats_box">
            Interested in adopting cats
        </label>
      </div>

      <div>
        <label for="children_competability_preference_box">
          Children competability preference
        </label>

        <input type="text" id="children_competability_preference_box" name="query_children_competability_preference" value="<%= @the_interest.children_competability_preference %>">
      </div>

      <div>
        <label for="dog_competability_preference_box">
          Dog competability preference
        </label>

        <input type="text" id="dog_competability_preference_box" name="query_dog_competability_preference" value="<%= @the_interest.dog_competability_preference %>">
      </div>

      <div>
        <label for="cat_competability_preference_box">
          Cat competability preference
        </label>

        <input type="text" id="cat_competability_preference_box" name="query_cat_competability_preference" value="<%= @the_interest.cat_competability_preference %>">
      </div>

      <div>
        <label for="activity_competability_preference_box">
          Activity competability preference
        </label>

        <input type="text" id="activity_competability_preference_box" name="query_activity_competability_preference" value="<%= @the_interest.activity_competability_preference %>">
      </div>

      <div>
        <label for="home_alone_competability_preference_box">
          Home alone competability preference
        </label>

        <input type="text" id="home_alone_competability_preference_box" name="query_home_alone_competability_preference" value="<%= @the_interest.home_alone_competability_preference %>">
      </div>

      <button>
        Update interest
      </button>
    </form>
  </div>
</div>

<hr>
